In [1]:
#Import dependencies 

import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# Store CSV into Dataframe

In [2]:
csv = "Data/health_systems.csv"
world_bank_df = pd.read_csv(csv)

world_bank_df

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Afghanistan,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
1,Albania,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
3,Andorra,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
4,Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN
207,NaN,NaN,"Yemen, Rep.",5.6,10.2,81.0,72.0,144.5,7.8,0.3,0.7,0.8,30.7,NaN
208,Zambia,NaN,Zambia,4.5,38.3,12.1,56.5,175.2,42.5,0.1,0.9,1.5,11.3,NaN
209,Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2,93.9,185.0,25.4,0.1,1.2,1.6,38.0,NaN

# Select columns needed

In [3]:
column_wb_df = world_bank_df[["Country_Region", 
                              "Province_State", 
                              "World_Bank_Name", 
                              "Health_exp_pct_GDP_2016", 
                              "Health_exp_public_pct_2016", 
                              "Health_exp_out_of_pocket_pct_2016"]].copy()

column_wb_df

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016
0,Afghanistan,NaN,Afghanistan,10.2,5.1,77.4
1,Albania,NaN,Albania,6.7,41.4,58.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9
3,Andorra,NaN,Andorra,10.4,49.1,41.7
4,Angola,NaN,Angola,2.9,44.1,35.2
...,...,...,...,...,...,...
205,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN
206,NaN,NaN,West Bank and Gaza,NaN,NaN,NaN
207,NaN,NaN,"Yemen, Rep.",5.6,10.2,81.0
208,Zambia,NaN,Zambia,4.5,38.3,12.1
209,Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2

# Clean Data

In [4]:
#Rename Columns
rename_wb_df = column_wb_df.rename(columns= {"Country_Region":"Country",
                                             "Province_State":"Province", 
                                             "World_Bank_Name":"World_Bank", 
                                             "Health_exp_pct_GDP_2016":"Current_Health_Expenditure", 
                                             "Health_exp_public_pct_2016":"Domestic_Government_Health_Expenditure", 
                                             "Health_exp_out_of_pocket_pct_2016":"Out-of-Pocket_Expenditure"})

In [5]:
#Identify missing values in the data
rename_wb_df.count()

Country                                   187
Province                                   14
World_Bank                                210
Current_Health_Expenditure                186
Domestic_Government_Health_Expenditure    186
Out-of-Pocket_Expenditure                 186
dtype: int64

In [6]:
#Identify countries with missing values in the "Country" column
rename_wb_df.query('Country != Country')

,Country,Province,World_Bank,Current_Health_Expenditure,Domestic_Government_Health_Expenditure,Out-of-Pocket_Expenditure
97,NaN,NaN,Kiribati,11.9,79.6,0.1
98,NaN,NaN,"Korea, Dem. People's Rep.",NaN,NaN,NaN
100,NaN,NaN,Kosovo,NaN,NaN,NaN
106,NaN,NaN,Lesotho,8.1,63.8,18.9
113,NaN,NaN,Malawi,9.8,28.0,11.4
118,NaN,NaN,Marshall Islands,23.3,52.6,9.0
122,NaN,NaN,"Micronesia, Fed. Sts.",12.6,27.8,2.6
129,NaN,NaN,Myanmar,5.1,20.1,74.0
139,NaN,NaN,Northern Mariana Islands,NaN,NaN,NaN
143,NaN,NaN,Palau,11.7,59.8,14.5
156,NaN,NaN,Samoa,5.5,76.4,11.9
158,NaN,NaN,Sao Tome and Principe,6.0,39.9,14.4
163,NaN,NaN,Sierra Leone,16.5,11.2,41.6
168,NaN,NaN,Solomon Islands,5.2,69.2,4.6
171,NaN,NaN,South Sudan,NaN,NaN,NaN
183,NaN,NaN,Tajikistan,7.0,28.6,66.1
188,NaN,NaN,Tonga,5.3,65.9,11.0
192,NaN,NaN,Turkmenistan,6.6,18.5,76.2
193,NaN,NaN,Turks and Caicos Islands,NaN,NaN,NaN
194,NaN,NaN,Tuvalu,15.5,84.5,0.7
202,NaN,NaN,Vanuatu,3.7,53.9,8.4
206,NaN,NaN,West Bank and Gaza,NaN,NaN,NaN
207,NaN,NaN,"Yemen, Rep.",5.6,10.2,81.0

In [7]:
#Drop missing values from "Country" column
drop_na_country_df = rename_wb_df.dropna(subset=["Country"])

drop_na_country_df

,Country,Province,World_Bank,Current_Health_Expenditure,Domestic_Government_Health_Expenditure,Out-of-Pocket_Expenditure
0,Afghanistan,NaN,Afghanistan,10.2,5.1,77.4
1,Albania,NaN,Albania,6.7,41.4,58.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9
3,Andorra,NaN,Andorra,10.4,49.1,41.7
4,Angola,NaN,Angola,2.9,44.1,35.2
...,...,...,...,...,...,...
203,Venezuela,NaN,"Venezuela, RB",3.2,24.1,40.0
204,Vietnam,NaN,Vietnam,5.7,47.4,44.6
205,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN
208,Zambia,NaN,Zambia,4.5,38.3,12.1
209,Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2

In [8]:
#Identify values included in the Province column
provinces = drop_na_country_df.query("Province == Province")
prov_list = provinces["Province"]

provinces

,Country,Province,World_Bank,Current_Health_Expenditure,Domestic_Government_Health_Expenditure,Out-of-Pocket_Expenditure
32,United Kingdom,Cayman Islands,Cayman Islands,NaN,NaN,NaN
35,United Kingdom,Channel Islands,Channel Islands,NaN,NaN,NaN
38,China,Hong Kong,"Hong Kong SAR, China",NaN,NaN,NaN
39,China,Macau,"Macao SAR, China",NaN,NaN,NaN
62,Denmark,Faroe Islands,Faroe Islands,NaN,NaN,NaN
66,France,French Polynesia,French Polynesia,NaN,NaN,NaN
73,Denmark,Greenland,Greenland,NaN,NaN,NaN
75,US,Guam,Guam,NaN,NaN,NaN
89,United Kingdom,Isle of Man,Isle of Man,NaN,NaN,NaN
133,France,New Caledonia,New Caledonia,NaN,NaN,NaN
151,US,Puerto Rico,Puerto Rico,NaN,NaN,NaN
165,Netherlands,Sint Maarten,Sint Maarten (Dutch part),NaN,NaN,NaN
176,France,St Martin,St. Martin (French part),NaN,NaN,NaN
205,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN

In [9]:
#Drop provinces from dataframe
drop_provs_df = drop_na_country_df[~(drop_na_country_df["Province"].isin(prov_list))]
drop_provs_df

,Country,Province,World_Bank,Current_Health_Expenditure,Domestic_Government_Health_Expenditure,Out-of-Pocket_Expenditure
0,Afghanistan,NaN,Afghanistan,10.2,5.1,77.4
1,Albania,NaN,Albania,6.7,41.4,58.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9
3,Andorra,NaN,Andorra,10.4,49.1,41.7
4,Angola,NaN,Angola,2.9,44.1,35.2
...,...,...,...,...,...,...
201,Uzbekistan,NaN,Uzbekistan,6.3,46.1,52.2
203,Venezuela,NaN,"Venezuela, RB",3.2,24.1,40.0
204,Vietnam,NaN,Vietnam,5.7,47.4,44.6
208,Zambia,NaN,Zambia,4.5,38.3,12.1
209,Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2

In [10]:
#Remove "Province" column from dataframe
drop_provs_df = drop_provs_df.drop(["Province"], axis=1)
drop_provs_df

,Country,World_Bank,Current_Health_Expenditure,Domestic_Government_Health_Expenditure,Out-of-Pocket_Expenditure
0,Afghanistan,Afghanistan,10.2,5.1,77.4
1,Albania,Albania,6.7,41.4,58.0
2,Algeria,Algeria,6.6,67.7,30.9
3,Andorra,Andorra,10.4,49.1,41.7
4,Angola,Angola,2.9,44.1,35.2
...,...,...,...,...,...
201,Uzbekistan,Uzbekistan,6.3,46.1,52.2
203,Venezuela,"Venezuela, RB",3.2,24.1,40.0
204,Vietnam,Vietnam,5.7,47.4,44.6
208,Zambia,Zambia,4.5,38.3,12.1
209,Zimbabwe,Zimbabwe,9.4,46.5,21.2

In [11]:
#Verify that all missing values have been removed
drop_provs_df.isna().any()

Country                                   False
World_Bank                                False
Current_Health_Expenditure                 True
Domestic_Government_Health_Expenditure     True
Out-of-Pocket_Expenditure                  True
dtype: bool

In [21]:
#Locate remaining missing values
missing_values = drop_provs_df.query("Current_Health_Expenditure != Current_Health_Expenditure")
missing_list = missing_values["Country"]

missing_values

,Country,World_Bank,Current_Health_Expenditure,Domestic_Government_Health_Expenditure,Out-of-Pocket_Expenditure
108,Libya,Libya,NaN,NaN,NaN
109,Liechtenstein,Liechtenstein,NaN,NaN,NaN
169,Somalia,Somalia,NaN,NaN,NaN
182,Syria,Syrian Arab Republic,NaN,NaN,NaN

In [23]:
#Remove countries with missing values
final_df = drop_provs_df[~(drop_provs_df["Country"].isin(missing_list))]
final_df

,Country,World_Bank,Current_Health_Expenditure,Domestic_Government_Health_Expenditure,Out-of-Pocket_Expenditure
0,Afghanistan,Afghanistan,10.2,5.1,77.4
1,Albania,Albania,6.7,41.4,58.0
2,Algeria,Algeria,6.6,67.7,30.9
3,Andorra,Andorra,10.4,49.1,41.7
4,Angola,Angola,2.9,44.1,35.2
...,...,...,...,...,...
201,Uzbekistan,Uzbekistan,6.3,46.1,52.2
203,Venezuela,"Venezuela, RB",3.2,24.1,40.0
204,Vietnam,Vietnam,5.7,47.4,44.6
208,Zambia,Zambia,4.5,38.3,12.1
209,Zimbabwe,Zimbabwe,9.4,46.5,21.2

In [24]:
#Confirm that there are no longer any missing values in the dataframe
final_df.count()

Country                                   169
World_Bank                                169
Current_Health_Expenditure                169
Domestic_Government_Health_Expenditure    169
Out-of-Pocket_Expenditure                 169
dtype: int64